<div id="<%= dom_id(contract) %>">
  <p>
    <strong>Title:</strong>
    <%= contract_link(contract.user) %><br>
  </p>

  <p>
    Status: <%= contract_icon(contract) %> <%= contract_status(contract) %>
  </p>

  <p>
    Document: <%= document_name(contract) %>
  </p>

  <p>
    <%= contract_signature_icon(contract) %> <%= contract_signature_status(contract) %>
  </p>


</div>
