<div id="<%= dom_id contract %>">
  <p>
    <strong>Title:</strong>
    <%= contract.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= contract.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= contract.user_id %>
  </p>

  <p>
    <strong>Signed at:</strong>
    <%= contract.signed_at %>
  </p>

  <p>
    <strong>Approved at:</strong>
    <%= contract.approved_at %>
  </p>

  <p>
    <strong>Activated at:</strong>
    <%= contract.activated_at %>
  </p>

</div>
