<p style="color: green"><%= notice %></p>

<%= render @contract %>

<div>
  <%= link_to "Edit this contract", edit_user_contract_path(@user, @contract) %> |
  <%= link_to "Back to user", user_path(@user) %>

  <%= button_to "Destroy this contract", user_contract_path(@user, @contract), method: :delete %>
</div>
