<% if flash[:error] %>
  <div style="color: red">
    <h2>The contract can't be approved!</h2>

    <ul>
      <li><%= flash[:error] %></li>
    </ul>
  </div>
<% else %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1>Users</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Contract Status</th>
    <th>Document Sent?</th>
    <th>Actions</th>
  </tr>
 <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= admin_contract_status(user) %></td>
    <td><%= document_attached?(user.contract) %></td>
    <td><%= admin_contract_buttons(user) %></td>
  </tr>
  <% end %>
 </table>
